:root{
	--p-color:#205c59;
};
body
{
	margin:0px;
	padding:0px;
	overflow-wrap:break-word;
}
::selection
{
	background:lime;
}
section:target
{
	box-shadow:2px 2px 4px grey;
}
#responsive-heading
{
	display:none;
}
#body-header
{
	text-align:center;
	height:72vh;
	width:100vw;
	opacity:0.75;
	background-image:url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg");
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}
nav
{
	padding-top:20px;
}


.horizontal-list li
{
	list-style-type:none;
	margin:10px;
}
.horizontal-list a
{
	text-decoration:none;
	color:white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:22px;
	transition:color 0.6s,border-bottom 3s;

}
a:hover,i:hover
{
	color:#E079AC;
	border-bottom:1px solid white;
}
.horizontal-list
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}

#body-header label
{
	font-size:30px;
	color:white;
	float:right;
	cursor:pointer;
	margin:0 20px 0 0;
	display:none;
	padding:10px;

}
#body-header input
{
	display:none;
}
#responsive1
{
	display:none;
}



#body-header h1
{
	clear:both;
	color:white;
	font-weight:bold;
	font-family: 'Source Sans JP', sans-serif;
	font-size:60px;
	padding-top:70px;
	word-spacing:6px;
	letter-spacing:1px;
	text-shadow:3px 3px 5px #422036;
}

i
{
	color:white;
}

@media screen and (max-width:1000px)
{
		#body-header label
		{
			display:block;
		}
		
		.horizontal-list
		{
			display:none;

		}

		#toggle:checked + #responsive1
		{
			display:block;
			width:200px;
			float:right;
			text-align:center;
			background:rgba(143,138,89,0.7);
		}
		#responsive1 a
		{
			display:block;
			text-decoration:none;
			color:#5C352E;
			font-weight:800;
			font-family: 'Source Sans Pro', sans-serif;
			font-size:22px;
			transition:color 0.6s,border-bottom 3s;
			border:2px solid grey;
		}
		#responsive1 a:hover
		{
			color:#265C43;
			border:1px solid white;
		}
		#body-header h1
		{
			display:none;
		}
		
		#body-header
		{
			height:62vh;
		}
		
		#responsive-heading
		{
			display:flex;
			flex-direction:column;
			height:auto;
			width:60%;
			float:left;

		}
		#responsive-heading h2
		{
			display:block;
			color:white;
			font-weight:bold;
			font-family: 'Source Sans JP', sans-serif;
			font-size:30px;
			word-spacing:6px;
			letter-spacing:1px;
			text-shadow:3px 3px 5px #422036;
		}
		#responsive-heading .horizontal-list
		{
			display:flex;
			position:relative;
			bottom:20px;
			right:25px;

		}
		
}


section
{
	display:flex;
	flex-direction:column;
	width:100vw;
	height:auto;
	padding:5vh 0;
}
section:nth-child(odd)
{
	background:white;
}
section:nth-child(even)
{
	background:rgba(79,105,104,0.05);
}
div[class$="header"]
{
	text-align:center;
	margin-bottom:8vh;

}
div[class$="header"]:hover span
{
	text-decoration:underline;
}
.skills-header i,.experience-header i,.education-header i,.portfolio-header i
{	
	color:#2F386B;
}
.skills-header span,.experience-header span,.education-header span,.portfolio-header span,.contact-header span
{
	font-size:26px;
	color:#2F386B;
	font-weight:bold;
	font-family: 'Source Sans JP', sans-serif;
}
.contact-header i
{
	color:white;
}
.contact-header span
{
	color:white;
}


/*About section*/
#about
{
	height:auto;
	width:100%;
	position:relative;
}
#about img
{
	display:block;
	box-shadow:2px 2px 4px grey;
	border-radius:80%;
	margin:auto;
	margin-top:-16vh;
	border:3.2px solid white;
}

#about p
{
	width:60%;
	color:#475C46;
	margin:auto;
	font-size:22px;
	font-family: 'Redressed', cursive;
	word-spacing:2.5px;
	letter-spacing:1px;
}


/*Skills section*/
.skills-display
{
	width:65%;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.label
{
	background:rgba(79,105,104,0.27);
	width:170px;
	height:35px;
	border-radius:20px;
	margin:5vh 7vh;
}
.label div:first-child
{
	/*width:75%;*/
	height:100%;
	color:white;
	font-size:0.9em;
	font-weight:bold;
	font-family: 'Source Sans JP', sans-serif;
	box-sizing:border-box;
	padding:7px 13px;
	border-radius:20px 0 0 20px;
}
.skill-1
{
	background-color: #B84380;
	width:75%;
}
.skill-6
{
	background-color: #B84380;
	width:51%;
}

.skill-2
{
	background-color: #F0601D;
	width:77%;
}
.skill-7
{
	background-color: #F0601D;
	width:90%;
}
.skill-3
{
	background-color:#3D63F2;
	width:85%;
}
.skill-8
{
	background-color:#3D63F2;
	width:79%;
}
.skill-4
{
	background-color:#55B81F;
	width:60%;
}
.skill-5
{
	background-color:#55B81F;
	width:54%;
}


/*Experience section*/

.experience-display
{
	width:75%;
	margin:auto;
	height:auto;
}
.experience-box
{
	width:40%;
	margin:5px;
	position:relative;
	left:5%;
	font-family: 'Source Sans Pro', sans-serif;
}
.experience-box:nth-child(2n)
{
	left:54%;
}
#experience-align
{
	text-align:right;
}
#experience-align div:nth-child(1)
{
	font-size:1.4em;
	color:#4960BF;
	font-weight:900;
}
#experience-align div:nth-child(2)
{
	font-size:1.3em;
	color:#F24F0F;
	font-weight:800;
}
#experience-align div:nth-child(3)
{
	line-height:1.7;
	font-size:0.83em;
	color:grey;
	font-weight:700;
}
.experience-box-head
{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

.experience-box p
{
	width:100%;
	font-size:1.2em;
	color:#829976;
	color:var(--p-color);
}
#experience
{
	position:relative;
}
.timeline-divider
{
	width:0;
	position:absolute;
	top:12%;
	left:50%;
	height:80%;
	border-left:4px dotted grey;
}
.aeroplane
{
	transform:rotate(90deg);
	position:sticky;
	top:25%;
}
.aeroplane i
{
	color:#3B2AAD;
}

.experience-box
{
	position:relative;
}
.experience-box::after
{
	content:"";
	display:inline-block;
	height:8px;
	width:8px;
	background:#3B2AAD;
	border-radius:50%;
	position:absolute;
	top:50%;
	right:-12.6%;
	z-index:1;
}
.experience-box:nth-child(even)::after
{
	left:-11.6%;
}




/*Education section*/

.education-display
{
	width:75%;
	margin:auto;
	height:auto;
}
.education-box
{
	width:40%;
	margin:5px;
	font-family: 'Source Sans Pro', sans-serif;
	position:relative;
	left:5%;
}
.education-box:nth-child(2n)
{
	left:54%;
}
.education-box-head
{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

.education-box:nth-child(2n) .education-box-head
{
	flex-direction:row-reverse;
}
#education-align
{
	text-align:right;
}
.education-box:nth-child(2n) #education-align
{
	text-align:left;
}
#education-align div:nth-child(1)
{
	font-size:1.4em;
	color:#4960BF;
	font-weight:900;
}
#education-align div:nth-child(2)
{
	font-size:1.3em;
	color:#F24F0F;
	font-weight:800;
}
#education-align div:nth-child(3)
{
	line-height:1.7;
	font-size:0.83em;
	color:grey;
	font-weight:700;
}
.education-box p
{
	width:100%;
	font-size:1.2em;
	color:#829976;
	color:var(--p-color);
}
#education
{
	position:relative;
}
.timeline-divider
{
	width:0;
	position:absolute;
	top:12%;
	left:50%;
	height:80%;
	border-left:4px dotted grey;
}
.car
{
	transform:rotate(90deg);
	position:sticky;
	top:25%;
}
.car i
{
	color:#3B2AAD;
}
.education-box
{
	position:relative;
}
.education-box::after
{
	content:"";
	display:inline-block;
	height:8px;
	width:8px;
	background:#3B2AAD;
	border-radius:50%;
	position:absolute;
	top:50%;
	right:-12.6%;
	z-index:1;
}
.education-box:nth-child(even)::after
{
	left:-11.6%;
}


/*Portfolio section*/
.portfolio-display
{
	margin:auto;
	width:80%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	height:auto;
}
.portfolio-display .project
{
	width:400px;
	height:230px;
}
.project
{
	overflow:auto;
	position:relative;
	transition:transform 0.5s;
	text-align:center;
}
.project:hover
{
	background:rgba(185,186,163,0.5);
	border:1px solid grey;
}
.project:hover img
{
	transform:scale(1.2);
	filter: blur(3px);
}

.project .content
{
	position:absolute;
	top:10%;
	left:13%;
	color:#545C6B;
	font-family: 'Source Sans JP', sans-serif;
	font-weight:900;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	font-size: auto;
}
.project .color-white
{
	color:white;
}
.project .content h2
{
	text-align:center;
	font-weight:900;
}
.project .content
{
	width:70%;
	transform:scaleY(0);
}
.project:hover .content
{
	transform:scaleY(1);
}
.project .content p
{
	width:80%;
	overflow-wrap:break-word;
	margin:auto;
}


/*Contact Section*/
#contact
{
	background-image:linear-gradient(to top right,#2857a4,#403066);
}

.contact-display
{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
	margin:auto;
	width:80%;
	
}
.user-info
{
	width:400px;
}
.my-info
{
	width:500px;
}
.user-info,.my-info
{
	/*border:2px solid yellow;*/
	margin:15px;
}
.my-info
{
	color:white;
	font-family: 'Source Sans Pro', cursive;
	word-spacing:2.5px;
	letter-spacing:1px;
}
.my-info p
{
	width:70%;
	font-size:16px;
}
input,textarea
{
	border:0;
	border-bottom:2px solid white;
	background:rgba(45,67,89,0);
	color:white;
	margin:5px;
	font-size:18px;
}
input
{
	height:40px;
	width:230px;
}

::placeholder
{
	color:white;
	font-family: 'Source Sans JP', sans-serif;
	font-size:15px;
}
.user-input
{
	box-sizing:border-box;
	margin:5px;
}

button
{
	border:2px solid white;
	text-align:center;
	color:white;
	padding:6px;
	background:rgba(0,0,0,0);
	font-weight:900;
	font-family:'Source Sans JP', sans-serif;
	font-size:13px;
	margin-left:70px;
	margin-top:10px;	
}
button:hover
{
	background:#D1BFFF;
	color:black;
	transform:scale(1.3);
}
.social-icons
{
	margin:auto;
}
.to-top
{
	padding-top:40px;
	margin:auto;
}
.to-top a
{
	color:#E0DF9D;
	font-family:'Source Sans JP', sans-serif;
}




@media screen and (max-width:900px)
{
	
	.timeline-divider
	{
		width:0;
		position:absolute;
		top:9%;
		left:10%;
		height:85%;
		border-left:4px dotted grey;
	}
	.experience-box,.education-box
	{
		width:87%;
		margin:10px;
		position:relative;
		left:4%;
		font-family: 'Source Sans Pro', sans-serif;
		border-bottom:1px solid black;
	}
	.experience-box:nth-child(2n),.education-box:nth-child(2n)
	{
		position:relative;
		left:4%;
		width:87%;
	}
	.experience-box::after,.education-box::after
	{
		content:"";
		display:inline-block;
		height:8px;
		width:8px;
		background:#3B2AAD;
		border-radius:50%;
		position:absolute;
		top:50%;
		left:-11.5%;
		z-index:1;
	}
	.experience-box:nth-child(2n)::after,.education-box:nth-child(2n)::after
	{
		left:-11.5%;
	}
	#about p
	{
		width:85%;
		text-align:center;
	}


}